<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <h1>blog Project</h1>
    <a href="{% url 'create' %}">Write</a>
    
    {% for blog in blogs %}
    <div>
        <h3>
            {{blog.title}}
        </h3>
        {{blog.pub_date}}
        <br>
        {{blog.wirter}}
        <br>
        {{blog.summary}}
        <a href="{% url 'detail' blog.id %}">...more</a>
    </div>
    {% endfor %}
    
</body>
</html>